.Pokedex {
  width: 100%;

  &-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 15px;
    width: 100%;
    justify-content: center;
  }

  &-character {
    width: 200px;
    height: 143px;
    border-radius: 25px;
  }
}
